<div class="form form-horizontal">
		<%= form_for question do |f| %>
			<fieldset>
				<legend>Задать вопрос</legend>
				<%= render 'shared/error_messages', object: f.object %>
				<div class="form-group">
					<%= f.label :question, 'Вопрос', class: 'col-lg-3 control-label' %>
					<div class="col-lg-9">
						<%= f.text_area :question, class: 'form-control' %>
					</div>
				</div>
				<% if admin? %>
					<div class="form-group">
						<%= f.label :answer, 'Ответ', class: 'col-lg-3 control-label' %>
						<div class="col-lg-9">
							<%= f.text_area :answer, class: 'form-control' %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :enabled, 'Открыть', class: 'col-lg-3 control-label' %>
						<div class="col-lg-9">
							<%= f.check_box :enabled %>
						</div>
					</div>
				<% end %>
				<div class="col-lg-9 col-lg-offset-3">
					<%= f.submit 'Задать', class: 'btn btn-primary' %>
				</div>
			</fieldset>
		<% end %>
		
	</div>