<div class="list-group-item">
	<div class="row-content">
		<% if admin? %>
			<%= render 'fields', question: question %>
			<div>
				<div class="form-group">
					<div class="col-lg-offset-3">
						<%= link_to 'Удалить', question, method: 'delete', data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
					</div>
				</div>
			</div>
		<% elsif question.enabled? %>
			<div class="panel panel-primary">
				<div class="panel-heading"><%= question.question %></div>
				<div class="panel-body"><%= question.answer %></div>
			</div>
		<% end %>
	</div>
</div>
<div class="list-group-separator"></div>