<% provide :title, 'Вопросы и ответы' %>
<div class="container">
	<h1>Вопросы и ответы</h1>
	<div class="list-group">
		<%= render @questions %>
		<%= render 'fields', question: Question.new if admin? %>
	</div>
</div>