<tr>
  <td><%= bookmark.id %></td>
  <td><%= link_to bookmark.good.name, bookmark.good %></td>
  <td><%= bookmark.good.price %></td>
  <td><%= link_to 'Удалить', bookmark, method: 'delete', class: 'label label-danger', data: { confirm: 'Вы уверены?' } %></td>
</tr>