<% provide :title, 'Закладки' %>
<div class="container">
  <h1>Закладки</h1>
  <table class="table table-hover table-stripped">
    <thead>
        <th>#</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Действия</th>
    </thead>
    <%= render @bookmarks %>
  </table>
  <%= will_paginate %>
</div>