<h1>Типы</h1>
<table class="table table-hovered">
	<thead>
		<th>#</th>
		<th>Название</th>
		<th>Описание</th>
		<th>Регулярное выражение</th>
		<th>Представление</th>
		<th colspan="2">Действия</th>
	</thead>
	<%= render @property_types %>
	<%= render 'property_types/fields', type: PropertyType.new %>
</table>