<h1>Свойства</h1>
<table class="table table-hovered">
	<thead>
		<th>#</th>
		<th>Название</th>
		<th>Описание</th>
		<th>Тип</th>
		<th colspan="2">Действия</th>
	</thead>
	<%= render @properties %>
	<%= render 'properties/fields', property: Property.new %>
</table>