<% provide :title, 'Администрирование' %>
<div class="container">
	<ul class="nav nav-tabs nav-info" style="margin-bottom: 15px;">
		<li><a href="#orders" data-toggle="tab">Заказы</a></li>
		<li><a href="#tickets" data-toggle="tab">Тикеты</a></li>
		<li><a href="#news" data-toggle="tab">Новости</a></li>
		<li><a href="#pages" data-toggle="tab">Страницы</a></li>
		<li><a href="#users" data-toggle="tab">Пользователи</a></li>
		<li><a href="#categories" data-toggle="tab">Категории</a></li>
		<li><a href="#goods" data-toggle="tab">Товары</a></li>
		<li><a href="#properties" data-toggle="tab">Свойства</a></li>
		<li><a href="#types" data-toggle="tab">Типы свойств</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade" id="orders">
			<%= render 'orders' %>
		</div>
		<div class="tab-pane fade" id="tickets">
			<%= render 'tickets' %>
		</div>
		<div class="tab-pane fade" id="news">
			<%= render 'news' %>
		</div>
		<div class="tab-pane fade" id="pages">
			<%= render 'pages' %>
		</div>
		<div class="tab-pane fade" id="users">
			<%= render 'users' %>
		</div>
		<div class="tab-pane fade" id="categories">
		    <%= render 'categories' %>
		</div>
		<div class="tab-pane fade" id="goods">
			<%= render 'goods' %>
		</div>
		<div class="tab-pane fade" id="properties">
			<%= render 'properties' %>
		</div>
		<div class="tab-pane fade" id="types">
			<%= render 'property_types' %>
		</div>
	</div>
</div>