<% provide :title, 'Поиск' %>
<div class="container">
	<h1>Поиск</h1>
	<div class="col-lg-12">
		<h2>Товары</h2>
		<% @goods.each do |good| %>
			<%= render 'goods/good', good: good %>
		<% end %>
	</div>
	<div class="col-lg-12">
		<h2>Новости</h2>
		<% @news.each do |n| %>
			<%= render 'news/new', new: n %>
		<% end %>
	</div>
	<div class="col-lg-12">
		<h2>Страницы</h2>
		<% @pages.each do |page| %>
			<%= render 'pages/page', page: page %>
		<% end %>
	</div>
</div>