<% provide :title, 'Вход' %>
<div class="container">
  <div class="form-horizontal col-lg-6 col-lg-offset-3">
    <%= form_for :session, url: sessions_path do |f| %>
        <fieldset>
          <legend>Вход</legend>
          <div class="form-group">
            <%= f.label :email, class: 'control-label col-lg-3' %>
            <div class="col-lg-9">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Ваш email' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'control-label col-lg-3' %>
            <div class="col-lg-9">
              <%= f.password_field :password, class: 'form-control', placeholder: 'Ваш пароль' %>
            </div>
          </div>
          <div class="col-lg-9 col-lg-offset-3">
            <%= f.submit 'Вход', class: 'btn btn-primary' %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>