<div class="media col-lg-12">
	<div class="media-left">
		<%= gravatar_for(comment.user, size: 50, class: 'img-circle') %>
	</div>
	<div class="media-body">
		<div class="media-heading">
			<%= comment.user.login %>
			<%= link_to 'Удалить', comment, method: 'delete', class: 'label label-danger',
									data: { confirm: 'Вы уверены?' } if admin? %>
		</div>
		<div>
			<%= comment.message %>
		</div>
		<%= render 'comments/index', item: comment %>
	</div>
</div>
<div class="list-group-separator"></div>