<details class="col-lg-12">
	<summary class="label label-success">Комментировать</summary>
	<div class="form-inline">
		<%= form_for Comment.new do |f| %>
			<%= f.hidden_field :commentable_id, value: item.id %>
			<%= f.hidden_field :commentable_type, value: item.class.to_s %>
			<div class="form-group">
				<%= f.text_area :message, rows: 3, placeholder: 'Сообщение', class: 'form-control' %>
				<%= f.submit 'Отправить', class: 'btn btn-primary btn-xs' %>
			</div>
		<% end %>
	</div>
</details>