<% unless item.nil? %>
<div class="container">
	<%= render 'comments/form', item: item if signed_in? %>
	<div class="media-list">
		<% item.comments.each do |comment| %>
			<%= render 'comments/comment', comment: comment unless comment.nil? %>
		<% end %>
	</div>
</div>
<% end %>