<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label :login, 'Логин', class: 'col-lg-3 control-label' %>
  <div class="col-lg-9">
    <%= f.text_field :login, class: 'form-control', placeholder: 'Ваш логин' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :email, class: 'col-lg-3 control-label' %>
  <div class="col-lg-9">
    <%= f.email_field :email, class: 'form-control', placeholder: 'Ваш email' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password, 'Пароль', class: 'col-lg-3 control-label' %>
  <div class="col-lg-9">
    <%= f.password_field :password, class: 'form-control', placeholder: 'Ваш пароль' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :password_confirmation, 'Подтверждение', class: 'col-lg-3 control-label' %>
  <div class="col-lg-9">
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтверждение пароля' %>
  </div>
</div>