<div class="list-group-item">
  <div class="row-picture">
    <%= gravatar_for user, size: 250, class: 'circle' %>
  </div>
  <div class="row-content">
    <h4><%= user.login %></h4>
    <%= link_to 'view', user, class: 'label label-info' %>
    <%= link_to 'edit', edit_user_path(user), class: 'label label-warning' if admin? && !user.admin? %>
    <%= link_to 'delete', user, class: 'label label-danger', method: 'delete',
                                data: { confirm: 'Вы уверены?' } if admin? && !user.admin? %>
  </div>
</div>
<div class="list-group-separator"></div>