<% provide :title, 'Пользователи' %>
<div class="container">
    <h1>Пользователи</h1>
    <%= will_paginate %>
    <div class="list-group">
      <%= render @users %>
    </div>
    <%= will_paginate %>
</div>
