<% provide :title, 'Регистрация' %>
<div class="container">
  <div class="form-horizontal col-lg-6 col-lg-offset-3">
    <%= form_for @user do |f| %>
        <fieldset>
          <legend>Регистрация</legend>
          <%= render 'fields', f: f %>
          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <%= f.submit 'Зарегистрироваться', class: 'btn btn-primary' %>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
