<tr>
	<%= form_for property, remote: true do |f| %>
		<td><%= property.id unless property.new_record? %></td>
		<td><%= f.text_field :name, class: 'form-control' %></td>
		<td><%= f.text_area :description, class: 'form-control' %></td>
		<td><%= f.collection_select :property_type_id, PropertyType.all, :id, :name, class: 'form-control' %></td>
		<td><%= f.submit (property.new_record? ? 'Создать' : 'Применить'), class: 'btn btn-xs btn-primary' %></td>
		<td>
			<%= link_to 'Удалить', property, method: 'delete', class: 'btn btn-danger btn-xs',
					remote: true, data: { confirm: 'Вы уверены?' } unless property.new_record? %>
		</td>
	<% end %>
</tr>