<tr>
<%= form_for type, remote: true do |f| %>
	<td><%= type.id unless type.new_record? %></td>
	<td><%= f.text_field :name, class: 'form-control' %></td>
	<td><%= f.text_area :description, class: 'form-control' %></td>
	<td><%= f.text_field :regexp, class: 'form-control' %></td>
	<td><%= f.text_area :view, class: 'form-control' %></td>
	<td><%= f.submit (type.new_record? ? 'Создать' : 'Применить'), class: 'btn btn-xs btn-primary' %></td>
	<td><%= link_to 'Удалить', type, method: 'delete', class: 'btn btn-danger',
						data: { confirm: 'Вы уверены?' }, remote: true unless type.new_record? %></td>
<% end %>
</tr>