<% if signed_in? %>
    <% if current_user.bookmark? good %>
        <%= link_to 'Из закладок', current_user.bookmark(good), method: 'delete',
            class: 'btn btn-danger btn-xs', data: { confirm: 'Вы уверены?' } %>
    <% else %>
        <%= form_for Bookmark.new do |f| %>
            <%= f.hidden_field :good_id, value: good.id %>
            <%= f.submit 'В закладки', class: 'btn btn-info btn-xs' %>
        <% end %>
    <% end %>
<% end %>