<% if signed_in? %>
    <% cart = current_user.carts.find_by(good_id: good.id) %>
    <% unless cart.nil? %>
        <div>
          <%= link_to 'Убрать из корзины', cart,  class: 'btn btn-danger', method: 'delete' %>
        </div>
    <% else %>
        <%= form_for Cart.new do |f| %>
            <%= f.hidden_field :good_id, value: good.id %>
            <%= f.submit 'Добавить в корзину', class: 'btn btn-primary' %>
        <% end %>
    <% end %>
<% end %>