<% if signed_in? %>
	<% unless current_user.like?(good) %>
		<%= form_for Like.new do |f| %>
			<%= f.hidden_field :good_id, value: good.id %>
			<%= f.button 'Нравится', type: 'submit', class: 'label label-success' %>
		<% end %>
	<% else %>
		<%= link_to 'Не нравится', current_user.like(good), method: 'delete', class: 'label label-danger' %>
	<% end %>
<% end %>
<span class="label">Понравилось <%= good.likes.size %> людей</span>