<ul>
  <% categories.each do |x| %>
      <% if x.enabled? %>
        <li>
          <%= link_to x.name, x, class: '' %>
          <%= render 'shared/tree', categories: x.categories %>
        </li>
      <% end %>
  <% end %>
</ul>