<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label :title, 'Загаловок', class: 'col-lg-3 control-label' %>
  <div class="col-lg-9">
    <%= f.text_field :title, placeholder: 'Заголовок', class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, 'Описание', class: 'col-lg-3 control-label' %>
  <div class="col-lg-9">
    <%= f.text_area :description, placeholder: 'Описание', class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-9 col-lg-offset-3">
    <div class="togglebutton">
      <label>
        <%= f.check_box :enabled %>
        Показывать новость
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :body, 'Новость', class: 'col-lg-3 control-label' %>
  <div class="col-lg-9">
    <%= f.cktext_area :body, placeholder: 'Новость', class: 'form-control' %>
  </div>
</div>