<div class="list-group-item">
  <div class="row-content">
    <h4><%= new.title %></h4>
    <p><%= new.description %></p>
    <%= new.updated_at %>
    <%= link_to 'Просмотр', new, class: 'label label-primary' %>
    <%= link_to 'Изменить', edit_news_path(new), class: 'label label-info' if admin? %>
    <%= link_to 'Удалить', new, method: 'delete', class: 'label label-danger',
                data: { confirm: 'Вы уверены?' } if admin? %>
  </div>
</div>
<div class="list-group-separator"></div>