<% provide :title, 'Редактировать новость' %>
<div class="container">
  <div class="form-horizontal">
    <fieldset>
      <legend>Редактирование новости</legend>
      <%= form_for @new do |f| %>
        <%= render 'fields', f: f %>
        <div class="col-lg-9 col-lg-offset-3">
          <%= f.submit 'Применить', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
