<% provide :title, 'Новости' %>
<div class="container">
    <h1>Новости</h1>
    <%= link_to 'Создать', new_news_path, class: 'label label-primary' if admin? %>
    <%= will_paginate %>
    <div class="group-list">
      <%= render @news %>
    </div>
    <%= will_paginate %>
</div>
