<% provide :title, @new.title %>
<div class="container">
  <div class="col-lg-12">
    <h1><%= @new.title %></h1>
    <p><%= @new.description %></p>
    <div>
      <%= render inline: @new.body %>
    </div>
  </div>
  <div class="col-lg-12">
    <%= @new.updated_at %>
    <%= link_to 'Изменить', edit_news_path(@new), class: 'label label-warning' if admin? %>
    <%= link_to 'Изменить', @new, class: 'label label-danger',
                            method: 'delete', data: { confirm: 'Вы уверены?' } if admin? %>
  </div>

  <div class="col-lg-12">
    <%= render 'comments/index', item: @new %>
  </div>
</div>