<div class="panel <%= order.done? ? 'panel-success' : 'panel-warning' %>">
  <div class="panel-heading">
    <h4>Заказ от <%= order.created_at %></h4>
  </div>
  <div class="panel-body">
    <div class="col-lg-6">
      <p>Всего товаров: <%= order.items_count %></p>
      <p>на сумму <%= order.cost %></p>
    </div>
    <div class="col-lg-6">
      <%= render 'orders/pay_button', order: order %>
    </div>
    <details class="col-lg-12">
      <summary>Подробности</summary>
      <table class="table">
        <thead>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Стоимость</th>
        </thead>
        <% order.order_items.each do |item| %>
            <tr>
              <td><%= link_to item.good.name, item.good %></td>
              <td><%= item.price %></td>
              <td><%= item.count %></td>
              <td><%= item.price * item.count %></td>
            </tr>
        <% end %>
      </table>
    </details>
  </div>
</div>
<div class="list-group-separator"></div>