<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label :title, 'Заголовок', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Заголовок' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :description, 'Описание', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Описание' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :href, 'Ссылка', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_area :href, class: 'form-control', placeholder: 'Ссылка' %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-9 col-lg-offset-3">
    <div class="togglebutton">
      <label>
        <%= f.check_box :enabled %>
        Открыть доступ
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-9 col-lg-offset-3">
    <div class="togglebutton">
      <label>
        <%= f.check_box :commentabled %>
        Разрешить комментирование
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <%= f.label :meta_title, 'Мета-заголовок', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :meta_title, class: 'form-control', placeholder: 'Мета-заголовок' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :meta_keywords, 'Ключевые слова', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :meta_keywords, class: 'form-control', placeholder: 'Ключевые слова' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :meta_desc, 'Мета-описание', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_area :meta_desc, class: 'form-control', placeholder: 'Мета-описание' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :body, 'Страница', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.cktext_area :body, class: 'form-control', placeholder: 'Страница' %>
  </div>
</div>