<div class="list-group-item">
    <div class="row-content">
      <h2><%= page.title %></h2>
      <p><%= page.description %></p>
      <div>
        <%= link_to page.user.login, page.user, class: 'label label-primary' %>
        <%= link_to 'Просмотр', page.href, class: 'label label-info' %>
        <%= link_to 'Изменить', edit_page_path(page),
                    class: 'label label-warning' if (signed_in? && page.user_id == current_user.id) %>
        <%= link_to 'Удалить', page, class: 'label label-danger', method: 'delete',
                                     data: { confirm: 'Вы уверены?' } if (signed_in? && page.user_id == current_user.id) %>
      </div>
    </div>
</div>