<% provide :title, 'Страницы' %>
<div class="container">
  <h1>Страницы</h1>
  <%= link_to 'Создать', new_page_path, class: 'label label-primary' if admin? %>
  <%= will_paginate %>
  <div class="list-group">
    <%= render @pages %>
  </div>
  <%= will_paginate %>
</div>
