<% provide :title, 'Создание страницы' %>

<div class="container">
  <div class="form-horizontal">
    <%= form_for @page do |f| %>
        <fieldset>
          <legend>Создание страницы</legend>
          <%= render 'fields', f: f %>
          <div class="col-lg-9 col-lg-offset-3">
            <%= f.submit 'Создать', class: 'btn btn-primary' %>
          </div>
        </fieldset>
  <% end %>
  </div>
</div>