<% provide :title, @page.title %>
<div class="container">
  <div class="col-lg-12">
    <%= render inline: @page.body %>
  </div>
  <div class="col-lg-12">
    <%= link_to @page.user.login, @page.user, class: 'label label-info' %>
    <%= link_to 'Изменить', edit_page_path(@page), class: 'label label-warning' if admin? %>
    <%= link_to 'Удалить', @page, method: 'delete', class: 'label label-danger',
                            data: { confirm: 'Вы уверены?' } if admin? %>
  </div>
  <div class="col-lg-12">
    <% if @page.commentabled? %>
      <%= render 'comments/index', item: @page %>
    <% end %>
  </div>
  <meta name="title" content="<%= @page.meta_title %>"/>
  <meta name="keywords" content="<%= @page.meta_keywords %>"/>
  <meta name="description" content="<%= @page.meta_desc %>"/>
</div>