<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
	<%= f.label :title, 'Тема', class: 'col-lg-3' %>
	<div class="col-lg-9">
		<%= f.text_field :title, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :body, 'Описание', class: 'col-lg-3' %>
	<div class="col-lg-9">
		<%= f.text_area :body, class: 'form-control' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :priority, 'Приоритет', class: 'col-lg-3' %>
	<div class="col-lg-9">
		<%= f.number_field :priority, min: 0, max: 3, class: 'form-control' %>
	</div>
</div>