<div class="list-group-item">
	<h4 class="list-group-item-heading">
		<%= link_to ticket.title, ticket %>
	</h4>
	<div class="list-group-item-text">
		<%= ticket.created_at %>
		<%= link_to 'Удалить', ticket, method: 'delete', data: { confirm: 'Вы уверены?' },
								class: 'btn btn-danger' if ticket.status == 3 || admin? %>
	</div>
</div>
<div class="list-group-separator"></div>