<% provide :title, 'Тикеты' %>
<div class="container">
	<h1>Тикеты</h1>
	<%= link_to 'Создать', new_ticket_path, class: 'btn btn-primary' %>
	<div class="col-lg-12">
		<%= will_paginate %>
		<div class="list-group">
			<%= render @tickets %>
		</div>
		<%= will_paginate %>
	</div>
</div>