<% provide :title, 'Создание тикета' %>
<div class="container">
	<div class="form form-horizontal">
		<%= form_for @ticket do |f| %>
			<fieldset>
				<legend>Новый тикет</legend>
				<%= render 'fields', f: f %>
				<div class="form-group">
					<div class="col-lg-9 col-offset-3">
						<%= f.submit 'Создать', class: 'btn btn-primary' %>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>