<% provide :title, @ticket.title %>
<div class="container">
	<h1><%= @ticket.title %></h1>
	<%= link_to 'Удалить', @ticket, method: 'delete', data: { confirm: 'Вы уверены?' } if @ticket.status == :closed %>
	<%= form_for @ticket do |f| %>
		<%= f.select :status, [[:opened], [:reviewed], [:worked], [:closed]] %>
		<%= f.submit 'Применить', class: 'btn btn-primary' %>
	<% end %>
	<h6><%= @ticket.status %></h6>
	<div class="col-lg-12">
		<%= @ticket.body %>
	</div>
	<div class="col-lg-12">
		<%= render 'comments/index', item: @ticket %>
	</div>
</div>