<tr>
    <td><input type="checkbox" name="order_items[<%= cart.good_id %>][enabled]"></td>
    <td><%= link_to cart.good.name, cart.good %></td>
    <td><%= cart.price %></td>
    <td><input type="number" name="order_items[<%= cart.good_id %>][count]" class="form-control" min="1"></td>
    <td><%= link_to 'Удалить', cart, method: 'delete', class: '' %></td>
</tr>