<% provide :title, 'Корзина' %>
<div class="container">
  <h1>Корзина</h1>
  <%= form_tag orders_path, method: 'post' do %>
      <table class="table table-stripped table-hover">
        <thead>
            <th></th>
            <th>Нименование</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Удалить</th>
        </thead>
        <%= render @carts %>
      </table>
      <%= submit_tag 'Выполнить заказ', class: 'btn btn-primary' %>
      <%= link_to 'Продолжить выбор покупок', :back, class: 'btn btn-default' %>
  <% end %>
</div>