<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label :name, 'Наименование', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :art, 'Артикул', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :art, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :price, 'Цена', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.number_field :price, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :count, 'Количество', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_field :count, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :category_id, 'Категория', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <%#= f.text_field :category_id, class: 'form-control' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :name, 'Описание', class: 'control-label col-lg-3' %>
  <div class="col-lg-9">
    <%= f.text_area :description, class: 'form-control' %>
  </div>
</div>