<div class="col-lg-3 col-md-4 col-xs-6">
    <h4><%= link_to good.name, good %></h4>
    <h3><%= good.price %></h3>
    <%= link_to good.category.name, good.category, class: 'label label-info' %>
    <%= render 'shared/cart_btn', good: good %>
    <%= render 'shared/bookmark_btn', good: good %>
    <div>
      <%= link_to 'Изменить', edit_good_path(good), class: 'label label-warning' if admin? %>
      <%= link_to 'Удалить', good, method: 'delete',
                  data: { confirm: 'Вы уверены?' }, class: 'label label-danger' if admin? %>
    </div>
</div>