<% if admin? %>
	<%= form_for property_value do |f| %>
		<%= f.hidden_field :good_id %>
		<%= f.hidden_field :property_id %>
		<p>
			<%= property_value.property.name %>: 
			<%= property_value.value %>
		</p>
		<%= render inline: property_value.property.property_type.view, locals: { f: f } %>
		<%= f.submit 'Принять', class: 'btn btn-xs btn-primary' %>
	<% end %>
<% else %>
	<%= property_value.property.name %>: <%= property_value.value %>
<% end %>