<div class="form form-horizontal">
  <%= form_for current_user.review(@good) do |f| %>
      <fieldset>
        <legend>Ваш отзыв</legend>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.hidden_field :good_id, value: good.id %>
        <div class="form-group">
          <%= f.label :title, 'Заголовок', class: 'control-label col-lg-3' %>
          <div class="col-lg-9">
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :mark, 'Оценка', class: 'control-label col-lg-3' %>
          <div class="col-lg-9">
            <%= f.number_field :mark, min: 0, max: 10, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :body, 'Отзыв', class: 'control-label col-lg-3' %>
          <div class="col-lg-9">
            <%= f.text_area :body, class: 'form-control' %>
          </div>
        </div>
        <div class="col-lg-9 col-lg-offset-3">
          <%= f.submit 'Отправить', class: 'btn btn-primary' %>
        </div>
      </fieldset>
  <% end %>
</div>