
<div class="list-group">
  <% reviews.each do |review| %>
      <div class="list-group-item">
        <div class="row-picture">
          <%= gravatar_for review.user, size: 250, class: 'circle' %>
        </div>
        <div class="row-content">
          <h4><%= review.title %><%= review.mark %></h4>
          <p><%= review.body %></p>
          <div class="col-lg-12">
            <%= review.updated_at %>
            <%= link_to review.user.login, review.user, class: 'label label-info' %>
            <%= link_to 'delete', review, class: 'label label-danger', method: 'delete',
                        data: { confirm: 'Вы уверены?' } if admin? %>
          </div>
        </div>
      </div>
      <div class="list-group-separator"></div>
  <% end %>
</div>