<% provide :title, 'Изменение товара' %>
<div class="container">
  <div class="form-horizontal">
    <%= form_for @good do |f| %>
        <%= render 'fields', f: f %>
        <div class="col-lg-9 col-lg-offset-3">
          <%= f.submit 'Применить', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
  <div class="form-horizontal col-lg-12">
    <%= form_for Image.new do |f| %>
        <fieldset>
          <legend>Новое изображение</legend>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.hidden_field :good_id, value: @good.id %>
          <div class="form-group">
            <%= f.label :title, 'Заголовок', class: 'control-label col-lg-3' %>
            <div class="col-lg-9">
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :alt, 'Альтернативный текст', class: 'control-label col-lg-3' %>
            <div class="col-lg-9">
              <%= f.text_field :alt, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :alt, 'Изображение', class: 'control-label col-lg-3' %>
            <div class="col-lg-9">
              <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
              <%= f.file_field :path %>
            </div>
          </div>
          <div class="col-lg-9 col-lg-offset-3">
            <%= f.submit 'Загрузить', class: 'btn btn-primary' %>
          </div>
        </fieldset>
    <% end %>
  </div>
  <div class="col-lg-12">
    <% @good.images.each do |img| %>
        <div class="col-lg-3">
          <%= image_tag img.path.url(:thumb) %>
          <%= link_to 'Удалить', img, method: 'delete', class: 'label label-danger',
                      data: { confirm: 'Вы уверены?' } %>
        </div>
    <% end %>
  </div>
</div>