<%= provide :title, 'Каталог' %>
<div class="container">
  <h1>Каталог</h1>
  <%= will_paginate @goods %>
  <div class="col-lg-12">
    <%= render @goods %>
  </div>
  <%= will_paginate @goods %>
</div>