<% provide :title, 'Новый товар' %>
<div class="container">
  <div class="form-horizontal">
    <%= form_for @good do |f| %>
        <%= render 'fields', f: f %>
        <div class="col-lg-9 col-lg-offset-3">
          <%= f.submit 'Создать', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>