<% provide :title, @good.name %>
<div class="container">
  <h1><%= @good.name %></h1>
  <div class="col-lg-6">
    <% @good.images.each do |img| %>
      <%= image_tag img.path.url(:thumb) %>
    <% end %>
  </div>
  <div class="col-lg-6">
    <h2><%= @good.price %></h2>
    <%= render 'shared/cart_btn', good: @good %>
    <%= render 'shared/bookmark_btn', good: @good %>
    <%= render 'shared/like_btn', good: @good %>
    <p><%= @good.description %></p>
    <div class="col-lg-12">
      <% @good.category.all_properties.each do |property| %>
        <%= render 'property', property_value: @good.property_value(property) %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="btn-group">
      <%= link_to 'Изменить', edit_good_path(@good), class: 'label label-info' if admin? %>
      <%= link_to 'Удалить', @good, method: 'delete', class: 'label label-danger', data: { confirm: 'Вы уверены?' } if admin? %>
    </div>
  </div>
  <div class="col-lg-12">
    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li class="active"><a href="#comments" data-toggle="tab">Комментарии</a></li>
      <li><a href="#reviews" data-toggle="tab">Отзывы</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="comments">
        <%= render 'comments/index', item: @good %>
      </div>
      <div class="tab-pane fade" id="reviews">
        <%= render 'review_form', good: @good if signed_in? %>
        <%= render 'reviews', reviews: @good.good_reviews %>
      </div>
    </div>
  </div>
</div>