<li>
  <%= link_to category.name, category %>
  <span class="badge"><%= category.all_goods.size if category.goods.size > 0 %></span>
  <div class="right">
    <%= render 'categories/form', category: category %>
    <%= render 'categories/form', category: Category.new, parent: category.id %>
    <%= render 'categories/properties', category: category %>
    <%= link_to 'Удалить', category, method: 'delete', class: 'label label-danger',
                            data: { confirm: 'Вы уверены?' } %>
  </div>
  <ul>
    <%= render category.categories %>
  </ul>
</li>