<details>
	<summary class="label label-primary">
		<%= category.new_record? ? 'Новая' : 'Изменить' %>
	</summary>
	<div class="col-lg-12">
		<%= form_for category do |f| %>
			<%= f.text_field :name, placeholder: 'Наименование', class: 'form-control' %>
			<%= f.text_area :description, placeholder: 'Описание', class: 'form-control' %>
			<%= f.check_box :enabled %> Включить
			<% parent ||= (category.category_id || 0) %>
			<%= f.hidden_field :category_id, value: parent %>
			<%= f.submit 'Применить', class: 'btn btn-primary' %>
		<% end %>
	</div>
</details>