<% if category.property? property %>
	<%= link_to property.name, "/categories/#{category.id}/properties/#{property.id}", method: 'delete', class: 'label label-primary' %>
<% elsif category.parent_property? property %>
	<div class="label label-info"><%= property.name %></div>
<% else %>
	<%= link_to property.name, "/categories/#{category.id}/properties/#{property.id}", method: 'post', class: 'label label-danger' %>
<% end %>