<details>
	<summary class="label label-info">Свойства</summary>
	<% Property.all.each do |property| %>
		<%= render 'categories/property_btn', category: category, property: property %>
	<% end %>
</details>