<% provide :title, 'Категории' %>
<div class="container">
  <h1>Категории</h1>
  <div id="categories">
    <%= render 'categories/form', category: Category.new %>
    <ul>
      <%= render @categories %>
    </ul>
  </div>
</div>