<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-dismissable alert-<%= key %>">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= value %>
      </div>
  <% end %>
</div>
