<div class="navbar navbar-bottom">
  <div class="container">
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Новости', '/news', class: '' %></li>
        <li><%= link_to 'Страницы', pages_path, class: '' %></li>
      </ul>
    </div>
  </div>
</div>