<div class="navbar navbar-primary">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Store', root_path, class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Каталог', root_path, class: '' %></li>
          <li><%= link_to 'Новости', '/news', class: '' %></li>
          <li><%= link_to 'Страницы', pages_path, class: '' %></li>
        </ul>
        <div class="navbar-form navbar-left">
          <%= form_tag search_path, method: 'get' do %>
            <input type="text" class="form-control col-lg-8" placeholder="Поиск" name="q">
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'О магазине', '#', class: '' %></li>
          <li><%= link_to 'Вопросы и ответы', questions_path, class: '' %></li>
          <li><%= link_to 'Помощь', '/help', class: '' %></li>
          <li class="dropdown">
            <%= render 'layouts/user_menu' %>
          </li>
        </ul>
      </div>
    </div>
</div>