<% if signed_in? %>
    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.login %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Профиль', current_user, class: '' %></li>
      <li class="divider"></li>
      <li><%= link_to 'Корзина', carts_path, class: '' %><span class="badge"><%= current_user.carts.size %></span></li>
      <li><%= link_to 'Избранное', bookmarks_path, class: '' %></li>
      <li><%= link_to 'Покупки', orders_path, class: '' %></li>
      <li class="divider"></li>
      <li><%= link_to 'Тикеты', tickets_path if (current_user.open_tickets.size > 0 || admin?) %></li>
      <% if admin? %>
        <li><%= link_to 'Администрирование', admin_path %></li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to 'Выход', signout_path, class: '', method: 'delete' %></li>
    </ul>
<% else %>
    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Логин <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Вход', signin_path, class: '' %></li>
      <li><%= link_to 'Регистрация', signup_path, class: '' %></li>
    </ul>
<% end %>