<!DOCTYPE html>
<html>
<head>
      <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' unless flash.empty? %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
